{% extends "base.html" %}
{% block title %}Trip Detail · SmartVoyage{% endblock %}
{% block content %}

<h1>
    Tokyo to Kyoto
</h1>

<div class = "mt-2 d-flex gap-2 flex-wrap">
    <button id="btnprev" class="btn-tp-secondary" style = "display:none">Previous Day</button>
    <button id="btnnext" class="btn-tp-secondary">Next Day</button>
</div>


<!-- UNDER CONSTRUCTION -->
{% for day in itinerary['days']%}
<div class = "tp-itinerary-day" id = "{{day['label']}}">
    <div class = "tp-day-label">
        {{day['label']}}
    </div>
{% for activity in day['activities'] %}
    <div class = "tp-time-block">
        <div class = "tp-time-label">
            {{activity['time']}}
        </div>
        <div class="tp-time-content" data-title= "{{activity['title']}}" data-info="{{activity['info']}}" style="cursor:pointer">
            {{activity['title']}}
        </div>
    </div>
    {% endfor %}
</div>
{% endfor %}

<!-- UNDER CONSTRUCTION -->

<div class="modal fade" id="activityModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitle"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body" id="modalBody">
        <p id="modalInfo"></p>
        <a id="modalMapLink" href="#" target="_blank" class="btn-tp-secondary">View on Google Maps</a>
    </div>
    </div>
  </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
            const days = document.querySelectorAll('.tp-itinerary-day')
            let counter = 0
            days.forEach(function(day){
                if (counter==0){
                    counter+=1
                    return
                }
                else{
                    day.style.display='none'
                }
            })
        


        let scroll = 0
        btnprev.addEventListener('click',function(){
            days[scroll].style.display = 'none'
            days[scroll-1].style.display = ''
            scroll -= 1
            if (scroll == 0){
                btnprev.style.display = 'none'
            }

            else{
                btnnext.style.display = ''
            }
        })

        btnnext.addEventListener('click',function(){
            days[scroll].style.display = 'none'
            days[scroll+1].style.display = ''
            scroll += 1
            if (scroll == (days.length-1)){
                btnnext.style.display = 'none'
            }

            else{
                btnprev.style.display = ''
            }
        })


        const activities = document.querySelectorAll('.tp-time-content')
        activities.forEach(function(activity){
            activity.addEventListener('click', function() {
            document.getElementById('modalTitle').innerText = activity.dataset.title
            document.getElementById('modalInfo').innerText = activity.dataset.info
            document.getElementById('modalMapLink').href = `https://www.google.com/maps/search/${encodeURIComponent(activity.dataset.title)}`
            const modalElement = document.getElementById('activityModal')
            const modalInstance = new bootstrap.Modal(modalElement)
            modalInstance.show()
        })
        })

})
</script>


</div>


{% endblock %}